In [1]:
import numpy as np
import pandas as pd

## Read Files

In [2]:
url = 'C:/Users/User/talkingdata/'
app_events = pd.read_csv(url + 'app_events.csv')
events = pd.read_csv(url + 'events.csv')

## Drop columns of app_events

In [3]:
print('app_events.shape: ',app_events.shape)
print(app_events.head(2))
app_events = app_events[app_events['is_active']==1]
app_events.drop(columns=['is_installed','is_active'],inplace=True)
app_events.head()

app_events.shape:  (32473067, 4)
   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0

   event_id               app_id
0         2  5927333115845830913
3         2  -653184325010919369
4         2  8693964245073640147
5         2  4775896950989639373
9         2  7167114343576723123

## Drop columns of events

In [4]:
print('events.shape: ',events.shape)
print(events.head(2))
events.drop(columns=['timestamp','longitude','latitude'],inplace=True)
events.head()

events.shape:  (3252950, 5)
   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97

   event_id            device_id
0         1    29182687948017175
1         2 -6401643145415154744
2         3 -4833982096941402721
3         4 -6815121365017318426
4         5 -5373797595892518570

## Merge both Tables(events, app_events)

In [5]:
app_merge = pd.merge(events,app_events,on='event_id')
app_merge.drop('event_id',inplace=True,axis=1)
app_merge.head()

             device_id               app_id
0 -6401643145415154744  5927333115845830913
1 -6401643145415154744  -653184325010919369
2 -6401643145415154744  8693964245073640147
3 -6401643145415154744  4775896950989639373
4 -6401643145415154744  7167114343576723123

## Factorize app_id

In [7]:
factor = pd.factorize(app_merge.app_id)
print(factor,'\n')
app_merge['app_id']=factor[0]
app_merge.head()

(array([   0,    1,    2, ...,   16,  490, 2168], dtype=int64), Int64Index([ 5927333115845830913,  -653184325010919369,  8693964245073640147,
             4775896950989639373,  7167114343576723123,  5497109940653330488,
            -7377004479023402858,  6284164581582112235,  3433289601737013244,
            -3467200097934864127,
            ...
             5019547876039999349,  1682994052672440041, -1633883187162005370,
             7358160945620519968,  6859562009802518629, -1845678533454684430,
             6863162216595898039,  -653184325042389896,  7051447598912039270,
            -3613993005628921961],
           dtype='int64', length=10582))

             device_id  app_id
0 -6401643145415154744       0
1 -6401643145415154744       1
2 -6401643145415154744       2
3 -6401643145415154744       3
4 -6401643145415154744       4

## one hot encoding

In [8]:
app_merge = pd.get_dummies(app_merge,sparse=True,columns=['app_id'])
print('app_merge.shape: ',app_merge.shape)
app_merge.head()

,device_id,app_id_0,app_id_1,app_id_2,app_id_3,app_id_4,app_id_5,app_id_6,app_id_7,app_id_8,...,app_id_10572,app_id_10573,app_id_10574,app_id_10575,app_id_10576,app_id_10577,app_id_10578,app_id_10579,app_id_10580,app_id_10581
0,-6401643145415154744,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-6401643145415154744,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-6401643145415154744,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-6401643145415154744,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-6401643145415154744,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Groupby device_id and save

In [39]:
app_merge = pd.get_dummies(app_merge, sparse=True)
app_merge = app_merge.groupby('device_id').sum()
app_merge = app_merge.applymap(lambda x:1 if x!=0 else 0)
app_merge.head()

In [ ]:
app_merge.to_csv('app_matrix.csv')