In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Read phone_brand_device_model

In [2]:
url = 'C:/Users/User/talkingdata/'
phone_brand_device_model = pd.read_csv(url + 'phone_brand_device_model.csv')

### phone_brand_device_model

In [3]:
print('phone_brand_device_model.shape: ',phone_brand_device_model.shape)
phone_brand_device_model.head()

phone_brand_device_model.shape:  (187245, 3)

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

### Check and drop duplicated data

In [4]:
print('numbers of duplicated data: ',phone_brand_device_model.duplicated('device_id').sum())
phone_brand_device_model.drop_duplicates('device_id',inplace = True)
phone_brand_device_model.shape

numbers of duplicated data:  529

(186716, 3)

### Check missing data

In [5]:
print('missing data: ',phone_brand_device_model.isnull().any().sum())

missing data:  0

### one hot encoding

In [6]:
phone_brand_device_model = pd.get_dummies(phone_brand_device_model)
print('phone_brand_device_model.shape: ',phone_brand_device_model.shape)
phone_brand_device_model.head()

phone_brand_device_model.shape:  (186716, 1731)

,device_id,phone_brand_E人E本,phone_brand_E派,phone_brand_HTC,phone_brand_LG,phone_brand_LOGO,phone_brand_Lovme,phone_brand_MIL,phone_brand_OPPO,phone_brand_PPTV,...,device_model_魅蓝Note3,device_model_魅蓝metal,device_model_魔镜 X5,device_model_麦芒3,device_model_麦芒3S,device_model_麦芒4,device_model_黄金斗士A8,device_model_黄金斗士Note8,device_model_黄金斗士S8畅玩版,device_model_黄金斗士青春版
0,-8890648629457979026,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1277779817574759137,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5137427614288105724,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3669464369358936369,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-5019277647504317457,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Write to CSV

In [27]:
phone_brand_device_model.to_csv(url + 'model/phone_brand.csv')